{% extends '@TvShowManager/base.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="container">
            <h1>Gestionnaire simple de série TV</h1>
            <p>Le but est de pouvoir lister des série Tv et les épisodes qui y sont associés pour les noter</p>
            <br/>
            <br/>
            <br/>
            <br/>

            <div class="blue">Note au correcteur ⇩
            <div class="red">Apres plusieurs modifications de code, les pages ne fonctionnent plus et des d'erreurs se sont accumulées m'empechant de revenir à une version avec des pages qui fonctionnent "normalement" .</div>
            </div>
        </div>
    </div>

{% endblock %}