{% extends '@TvShowManager/base.html.twig' %}

{% block content %}

    <h3>Editer - </h3> <h2> Episode :</h2>

    <div class="container-fluid">
        <div class="row">

                <h2>Modifier épisode :</h2> <em> {{ form(editForm) }} </em>

        </div>
    </div>

{% endblock %}